@mixin typo {
    line-height: 1.5;
    letter-spacing: .005rem;
    & h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin-top: var(--margin-content);
    }
    & h1 {
        font-size: 1.2rem;
    }
    & h2 {
        font-size: 1.1rem;
    }
    & h3, h4, h5, h6 {
        font-size: 1rem;
    }
    & ol {
        margin-left: 1rem;
    }
    & ul {
        position: relative;
        & li{
            margin-left: 1rem;
        &::before {
        content: '-';
        position: absolute;
        margin-left: -.75rem;
        }
    }
    }
    & blockquote {
        position: relative;
        padding: 0 .75rem;
        border-left: 1px solid var(--color-link);
        &::before {
            content: "\201C";
            color: var(--color-link);
            position: absolute;
            top: 0rem;
            left: .25rem; 
        }
    }
    & .highlight {
        position: relative;
        font-size: 1rem;
        margin-top: var(--margin-content);
        & pre {
            padding: 0.5rem 2rem;
            color: var(--color-text-contrast) !important;
            background-color: var(--color-link) !important;
            & span {
                color: var(--color-text-contrast) !important;
                white-space: break-spaces;
            }
            /*
            & code {
                &::before {
                    content: "$";
                    position: absolute;
                    top: .5rem;
                    left: .5rem;
                }
            }
            */
        }
    }
}

@mixin stripe {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-image: linear-gradient(90deg, var(--color-background-pattern) 1px, transparent 1px);
    //background-image: linear-gradient(90deg, var(--color-background-pattern) 1px, transparent 1px), linear-gradient(180deg, var(--color-background-pattern) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-position: center;
}