.separator::after {
    content: "";
    background-color: var(--color-text);
    display: inline-block;
    height: 0.15rem;
    width: 100%;
}
.separator.separator--vertical::after {
    height: 1px;
    width: 100%;
}