<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head-meta.html" . }}
        <script type="text/javascript" async>
            // Set Theme from localstorage
            initializeTheme();
        </script>
    </head>
    <body>

        <div class="layout" >
            {{ partial "header.html" . }}
            {{ partial "tags.html" . }}
            <main class="main">
                {{ block "main" . }}{{ end }}
            </main>
            {{ partial "footer.html" . }}
        </div>
        <script type="text/javascript">
            // Set Theme label
            setThemeLabel();
            //  Set Accessabilities
            setAccessibility();
        </script>
    </body>
</html>