{{ define "main"}} {{$pages := slice}} {{$paginator := slice}} {{if eq .Type
"tags"}} {{ $tagSlice := slice .Name }} {{- $pages = (where .Site.RegularPages
"Params.tags" "intersect" $tagSlice).ByDate.Reverse.ByWeight }} {{- $paginator =
.Paginate $pages }} {{else}} {{- $pages = (where .Site.RegularPages
"Params.type" .Type).ByDate.Reverse.ByWeight }} {{- $paginator = .Paginate
$pages }} {{end}}
<div class="article-list">
  {{partial "sidemenu.html" (dict "context" . "pages" .Pages)}}
  <aside><div id="contentmenu" class="sidemenu sidemenu--right"></div></aside>
  {{if gt $pages $paginator.PageSize}}
  <div class="article-list__pagination">
    {{partial "pagination.html" (dict "context" . "pages" $pages "paginator"
    $paginator)}}
  </div>
  {{end}} {{ with $paginator }} {{ range $index, $page := .Pages}} {{ partial
  "article.html" (dict "context" . "IsSingle" false)}} {{ end }} {{ end }} {{if
  gt $pages $paginator.PageSize}}
  <div class="article-list__pagination">
    {{partial "pagination.html" (dict "context" . "pages" $pages "paginator"
    $paginator)}}
  </div>
  {{end}}
</div>
<script type="text/javascript">
  setHeadingSideMenu()
</script>
{{end}}
