{{ define "main"}}
    {{$content := (where .Site.RegularPages "Params.type" "content").ByDate.Reverse }}
    {{$document := (where .Site.RegularPages "Params.type" "document").ByDate.Reverse}}
    {{ $tagSlice := slice .Name }}
    {{$tags := where .Site.RegularPages "Params.tags" "intersect" $tagSlice}}
    <!-- Refactor ^ -->
    <div class="article-list">
    {{ if eq .Type "content" }}
        {{  range $content}}
            {{ partial "article.html" . }}
        {{ end }}
    {{ else if eq .Type "document"}}
        {{  range $document}}
            {{ partial "article.html" . }}
        {{ end }}
    {{ else if eq .Type "tags"}}
        {{ range $tags }}
            {{ partial "article.html" . }}
        {{end}}
    {{ end }}
    </div>
{{end}}
