.article-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .article {
    &:not(:last-of-type) {
      margin-bottom: calc(2 * var(--margin));
    }
  }
  & .article-list__pagination {
    margin: var(--margin) calc(var(--margin) / 2) var(--margin)
      calc(var(--margin) / 2);
  }
}

.article {
  display: flex;
  flex-direction: column;
  background-color: var(--color-cover);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  &.article--single {
    height: 100%;
  }
  & .article__return {
    margin-bottom: calc(var(--margin) * 3 / 4);
  }
  & .article__title {
    font-weight: bold;
    font-size: 1.15em;
    line-height: 1.25;
    width: fit-content;
  }
  & .article__date {
    font-style: italic;
    width: fit-content;
    margin-bottom: calc(var(--margin) * 3 / 4);
    font-weight: 500;
  }
  & .article__content {
    @include typo;
  }
  .article__tags {
    margin-top: 1rem;
    & .tag:not(:first-child) {
      margin-left: calc(var(--margin) / 4);
    }
  }
}
