.article-list {
    display: flex;
    flex-direction: column;
    //overflow-y: auto;
    //overflow-x: hidden;
    height: 100%;
    & .article {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
    }
    & .article-list__pagination {
        margin: 1rem .5rem 1rem .5rem;
    }
}

.article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-cover);
    padding: 1rem;
    border-radius: var(--border-radius);
    &.article--single {
        height: 100%;
        //overflow: auto;
    }
    & .article__title {
        font-weight: bold;
        font-size: 1.5rem;
        width: fit-content;
    }
    & .article__date {
        font-style: italic;
        width: fit-content;
        margin-bottom: .25rem;
        font-weight: 500;
    }
    & .article__content {
        @include typo;
    }
    .article__tags {
        margin-top: 1rem;
        & .tag:not(:first-child) {
            margin-left: .25rem;
        }
    }
}