.document {
    display: flex;
    flex-direction: row;
    height: 100%;
    & > div:not(:first-child) {
        margin-left: 1rem;
    }
    @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        & > div:not(:first-child) {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
    & .document__list{
        flex: 1 0 0;
        height: 100%;
        padding: 0.5rem;
        //overflow: auto;
        //background-color: var(--color-cover);
        //border-right: 1px solid var(--color-background-contrast);
        //border-radius: var(--border-radius);
        @media only screen and (max-width: 37.5em) {
            flex: 0 1 auto;
            //overflow-x: hidden;
            //overflow-y: hidden;
        }
        & h1 {
            font-size: 1.3rem;
        }
        & h2 {
            font-size: 1.15rem;
        }

        & h3 {
            font-size: 1rem;
        }
        & h1, h2, h3 {
            font-weight: bold;
            width: 100%;
            padding: 0.5rem 2rem;
        }
        & ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            & li {
                //width: 80%;
                width: 100%;
                & a {
                    min-height: 3rem;
                    padding: 0.5rem 2rem;
                    border-radius: 0.5rem;
                    width: 100%;
                    color: var(--color-text);
                    font-weight: 500;
                    text-transform: lowercase;
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                    &:hover{
                        cursor: pointer;
                        text-decoration: none;
                        background-color: var(--color-cover-light);
                    }
        
                }
            }
        }
    }
    & .document__detail {
        flex: 6 0 0;
        display: flex;
        flex-direction: column;
        //overflow: auto;
        padding: .5rem 0;
        @media only screen and (max-width: 37.5em) {
            flex: 0 1 auto;
            //overflow-x: hidden;
            //overflow-y: hidden;
        }
        & > :not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

}