.sidemenu {
  position: fixed;
  width: 10%;
  max-width: 25rem;
  max-height: 70%;
  top: 50%;
  left: calc(2 * var(--margin));
  transform: translate(0%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--padding);
  /* 
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    border-right: 1px solid var(--color-text);
  }
  */

  /* display on non overflow */
  @media only screen and (max-width: 37.5em) {
    position: relative;
    margin: var(--margin) 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    &::after {
      display: none;
    }
  }
  & ul {
    position: relative;
    @include list;
  }
}
