<article class="article {{if .IsSingle}}article--single {{end}}">
  {{ if .IsSingle}}
      <div class="article__return"><a href="{{.context.Parent.Permalink }}">Return</a></div>
    {{end}}
    <span class="article__date">Created - {{ .context.Date.Format "January 2, 2006" }}</span>
    {{if .context.Params.Lastmod}}
      <span class="article__date">Last update - {{ .context.Params.Lastmod.Format "January 2, 2006" }}</span>
    {{end}}
    <!-- Todo partials context -->
    {{ if .IsSingle}}
      <div class="article__title">{{.context.Title}}</div>
    {{else}}
      <a id="{{.context.Title}}" class="article__title" href="{{ .context.Permalink }}">{{ .context.Title }}</a>
    {{end}}
    <div class="article__content">
      {{ .context.Content}}
    </div>
    <ul class="article__tags">
      {{ range .context.Params.tags }}
          <li class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
      </ul>
</article>