{{define "main"}}
<div class="document">
  {{partial "mainmenu.html" (dict "menu" .Site.Menus.main)}}
  <div class="document__detail">
    <div class="article-list">
      {{- $pages := .Site.RegularPages.ByDate.Reverse.ByWeight }} {{- $paginator
      := .Paginate $pages }}
      <div class="article-list__pagination">
        {{partial "pagination.html" (dict "context" . "pages" $pages "paginator"
        $paginator)}}
      </div>
      {{ with $paginator }} {{ range .Pages}} {{ partial "article.html" (dict
      "context" . "IsSingle" false)}} {{ end }} {{end}}
      <div class="article-list__pagination">
        {{partial "pagination.html" (dict "context" . "pages" $pages "paginator"
        $paginator)}}
      </div>
    </div>
  </div>
</div>
{{end}}
